*{
    font-family: 'Cera Pro Light';
}

body{
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.main-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: transparent;
    backdrop-filter: blur(20px);
    z-index: 2;
    margin-top: 5%;
}

.container-form{
    height: 45%;
    width: 25%;
    background-color: #fefefe;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    animation: 0.5s pop-in ease-in-out forwards;
  
}

.txtUsername{
    width: 90%;
    height: 50px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 0.5px solid gray;
    padding-left: 10px;
}
.txtPassword{
    width: 90%;
    height: 50px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 0.5px solid gray;
    padding-left: 10px;
}

.txtPassword:focus, .txtUsername:focus{
    outline: none !important;
    border: 1px solid #303030;
    color: #303030;
}

.btnLogin{
    width: 90%;
    height: 50px;
    border-radius: 4px;
    box-sizing: border-box;
    border: none;
    padding-left: 10px;
    background-color: #2b66fe;
    color: #fefefe;
    font-size: 18px;
    font-family: 'Cera Pro';
    cursor: pointer;
}

.btnCreate{
    width: 90%;
    height: 50px;
    border-radius: 4px;
    box-sizing: border-box;
    border: none;
    padding-left: 10px;
    color: #fefefe;
    background-color: #49b82d;
    font-size: 18px;
    font-family: 'Cera Pro';
    cursor: pointer;
}

.lblForgot{
    margin: 15px
}

.main-container{
    width: 100vw;
    height: 215%;
    background-image: url(Images/page3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: -90px;
}

.imgPass1{
    position: absolute;
    top: 36%;
    left: 8%;
    color: white;
    width: 26%;
    display: none;
}

.imgPass2{
    position: absolute;
    top: 105%;
    left: 58%;
    color: white;
    width: 37%;
    scale: 0 1;
    animation: pop-in forwards;
    animation-timeline: view();
    animation-range-start: 500px;
    animation-range-end: 700px;
}

.txt1{
    position: absolute;
    top: 125%;
    left: 7%;
    width: 48%;
    animation: fade-in forwards;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 1500px;
    display: none;
   
}


.btnNext{
    position: absolute;
    top: 180%;
    left: 10%;
    width: 125px;
    height: 55px;
    border: 0.5px solid #fefefe;
    background-color: transparent;
    border-radius: 100px;
    color: #fefefe;
    cursor: pointer;
}

.btnNext:hover{
    position: absolute;
    top: 180%;
    left: 10%;
    width: 125px;
    height: 55px;
    border: 0.5px solid #fefefe;
    background-color: #fefefe;
    border-radius: 100px;
    color: black;
    cursor: pointer;
}


@keyframes fade-in{
    from {opacity: 0;}
    to { opacity: 1;}
}

@keyframes pop-in{
    from {scale: 0; opacity: 0;}
    to { scale: 1; opacity: 1;}
}
